# Copyright (c) 2021 Legrand North America, LLC.
# SPDX-License-Identifier: Apache-2.0

menu "Custom libraries"

rsource "custom/Kconfig"
rsource "fibril_can_node/Kconfig"
rsource "fcan_transport/Kconfig"

rsource "esp_now_gamepad_bridge/Kconfig"
rsource "differential_screw/Kconfig"

endmenu
